<html xmlns="http://www.w3.org/1999/xhtml">

{% extends 'admindash.html' %}
{% block body %}

<body>
<h3 align="center" >Update Program</h3><br><br><br>
<form id="form1" name="form1" method="post" action="/myapp/editprogram_post/">
    <div class="card" style="border-color: coral;border-radius:10px">
    <div class="card-body">

    {% csrf_token %}
  <table class="table table-borderless table-hover" >
    <tr>
      <th width="200px">Program Name</th>
      <td>
          <input type="hidden" name="h1" value="{{ data.id }}" id="textfield" />
          <input type="text" name="textfield" id="textfield" value="{{ data.pname }}" class="form-control"/></td>
    </tr>
  <tr>
      <th> Duration</th>
      <td><input type="text" name="textfield2" id="textfield2" value="{{ data.sem }}" class="form-control" required/></td>
    </tr>

    <tr>
      <th width="200px">Department</th>
        <td><select name="textfield3" class="form-control" required>
           {% for i in data2 %}
               <option value="{{ i.id }}" {%  if i.id == data.DEPARTMENT %} selected {% endif %}>{{ i.department }}</option>


            {% endfor %}
        </select></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="submit" name="button" id="button"  class="btn btn-danger"  value="Edit" style="border-radius: 5px ;width:100px" /></td>
    </tr>
  </table>
</form>
</body>
{% endblock %}
</html>
