<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p><a href="/myapp/adddept/">Add Department</a> </p>
<p><a href="/myapp/viewdept/">View Department</a> </p>
<p><a href="/myapp/addprogram/">Add Program</a> </p>
<p><a href="/myapp/viewprogram/">View Program</a> </p>
<p><a href="/myapp/addbatch/">Add Batch</a> </p>
<p><a href="/myapp/viewbatch/">View batch</a> </p>
<p><a href="/myapp/addfaculty/">Add Faculty</a> </p>
<p><a href="/myapp/viewbatch/">View Faculty</a> </p>
<p><a href="/myapp/viewstudents/">View Students</a> </p>
<p><a href="/myapp/notification/">Add Notification</a> </p>
<p><a href="/myapp/viewnotification/">View Notification</a> </p>
<p><a href="/myapp/chngpwd/">Change password</a> </p>

</body>
</html>