<html xmlns="http://www.w3.org/1999/xhtml">

{% extends 'admindash.html' %}
{% block body %}


<h3 align="center" >Notification</h3><br><br><br>
<body>
<form id="form1" name="form1" method="post" action="/myapp/notification_post/">
    <div class="card" style="border-color: coral;border-radius:10px">
    <div class="card-body">

    {% csrf_token %}
  <table class="table table-borderless table-hover" >
  <tr>
    <th width="200px">Notification</th>
    <td><input type="text" name="textfeild" class="form-control"/></td>
  </tr>
    <tr>
{#    <th>Time</th>#}
{#    <td><input type="time" name="textfeild2" class="form-control"/></td>#}
{#  </tr>#}
  <tr>

      <td colspan="2" align="center"><input type="submit" name="button" id="button"  class="btn btn-danger"  value="SEND" style="border-radius: 5px ;width:150px" /></td>
    </tr>
</table>
</form>
</body>
{% endblock %}
</html>
