<html xmlns="http://www.w3.org/1999/xhtml">

{% extends 'admindash.html' %}
{% block body %}

<body>
<h3 align="center" >View Batch</h3><br><br><br>
<form id="form1" name="form1" method="post" action="">
  <div class="card" style="border-color: coral;border-radius:10px">
    <div class="card-body">

 <table class="table table-hover" >
    <tr style="background-color:#DFF9BA ">

      <th>SL.No</th>
      <th>Program</th>
      <th>Year</th>
{#      <td>Tutor</td>#}
      <td>&nbsp;</td>
    </tr>
     {% for i in data %}
    <tr>
      <td>&nbsp;{{ forloop.counter }}</td>
      <td>&nbsp;{{ i.PROGRAM.pname }}</td>
      <td>&nbsp;{{ i.year }}</td>
{#      <td>&nbsp;</td>#}
      <td><a href="/myapp/editbatch/{{ i.id }}#about">Edit</a><br><br>
      <a href="/myapp/deletebatch/{{ i.id }}#about">Delete</a></td>
    </tr>
     {% endfor %}
  </table>
    </div>
  </div>
</form>

</body>
        {% endblock %}
</html>
